[[source]]
name = "pypi"
url = "https://pypi.mirrors.ustc.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-script = "*"
uwsgi = "*"
flask-sqlacodegen = "*"
pymysql = "*"

[requires]
python_version = "3.7"
